.logon-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logon-container section.form {
    width: 100%;
    max-width: 250px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    text-align: left;
    color: aliceblue;
}

.logon-container section.form form small {
    color: aliceblue;
}

.button {
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 30px;
    margin: 15px auto;
}