



a {
  text-decoration: none;
  color: #fff;
}

.home-container {
  width: 100%;
  max-width: 1366px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header header header";
}

.home-container header {
  display: grid;
  grid-area: header;
  grid-template-areas: ". menu social";
  color: #fff;
  height: 100px;
  align-items: center;
}

.home-container header ul li + li {
  padding-left: 15px;
}

.home-container header ul {
  list-style: none;
  display: flex;
}

.home-container header ul.menu {
  grid-area: menu;
  justify-content: center;
}

.home-container header ul.social {
  grid-area: social;
  justify-content: flex-end;
}


/*
a {
  text-decoration: none;
  color: #fff;
}

.home-container {
  width: 100%;
  max-width: 1366px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}

.home-container header {
  color: #fff;
  height: 100px;
  display: flex;
  flex: 1;
  align-items: center;
}

.home-container header ul li + li {
  padding-left: 15px;
}

.home-container header ul {
  list-style: none;
  display: flex;
}

.home-container header ul.menu {
  flex: 2;
  justify-content: center;
}

.home-container header ul.social {
  flex: 1;
  justify-content: flex-end;
}
*/
