@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #272727;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 30px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
  margin-top: 5px;
  margin-bottom: 5px;
}

form textarea {
  width: 100%;
  min-height: 140px;
  resize: vertical;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}

.app-container {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.027);
  box-shadow: rgb(255, 255, 255) 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1366px;
}

a {
  text-decoration: none;
}
